@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Euphoria+Script&family=Pacifico&display=swap");
::-webkit-scrollbar {
  display: none;
}
:root {
  --backGroundColor1: #222a36;
  --backGroundColor2: #2a3443;
  --fontColor1: white;
  --fontColor2: #6d7074;
  --fontColor3: #3aafc9;
  --ballColor: #676cdb;
  --ballColor2: #3aafc9;
}

html {
  /* 10px default size for desktop sizez  */
  font-size: 62.5%;
}
/* /* @media screen and (max-width: 1424px) {
  .html{
    font-size:50%;
    /* background: orange; */
/* @media (max-width: 998px) {
  html {
    font-size: 53%;
  }
} */
@media screen and (max-width: 1280px) {
  html {
    font-size: 56%;
  }
}
* {
  margin: 0;
  padding: 0;
  /* font-size: 45px; */
  font-weight: 500;
  font-family: "Anuphan", sans-serif;
  /* border: 0.2px solid black; */
  /* overflow-x: hidden; */
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--backGroundColor1);
  scroll-behavior: smooth;
}
.intialHeight {
  overflow: hidden;
}
.fullpage {
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  background-color: var(--ballColor);
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1000ms, border-radius 1000ms;
  overflow: hidden;
  /* border-radius:  0 0 20% 20% ; */
}
.wrapperr {
  box-sizing: content-box;
  display: flex;
  height: 6rem;
  padding: 50px 30px;
  background-color: var(--ballColor);
}
.words {
  overflow: hidden;
  color: white;
  font-size: 5rem;
}
.words span {
  text-align: center;
  display: block;
  height: 100%;
  animation: spin;
  padding: 0.2rem;
  /* border:2px solid black; */
  animation: spin_words 1.5s infinite ease-in-out;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
.heroSection {
  position: relative;
  height: 110vh;
  /* overflow: hidden; */
  /* width: 100%; */
  padding: 0 10rem;
  background-color: var(--backGroundColor2);
}

/***************************************** Header******************************** */
header {
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* padding: 2.3rem 7rem; */
  list-style: none;
  background: transparent;
  /* margin-top: 1.5rem 15rem; */
  overflow-x: hidden;
}

.navbar {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 5rem 5rem;
  list-style: none;
  justify-content: space-around;
}

.navLinks a {
  padding: 0 2rem;
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--fontColor2);
  letter-spacing: 0.5px;
  position: relative;
}
.navLinks a:after {
  content: "";
  position: absolute;
  background-color: var(--ballColor2);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 110%;
  left: 2.1rem;
  bottom: -0.6rem;
  transition: 0.3s ease-in-out;
}
.navLinks a:hover:after {
  width: 80%;
  border-radius: 0;
}
.navbar a:hover {
  color: #fff;
}

.nav {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
}

.signName {
  padding: 1.1rem 2rem;
  text-decoration: none;
  font-size: 2.2rem;
  color: white;
  letter-spacing: 0.5px;
}
.signName span {
  color: var(--fontColor3);
}
/* *******************************Hero Section******************** */
.balls {
  width: 15rem;
  height: 15rem;
  background-color: var(--ballColor);
  border-radius: 100%;
  display: grid;
  place-items: center;
  transform: rotate(-8deg);
  letter-spacing: 0.1rem;
  padding: 1.2rem;
}
section .ball2 {
  width: 18rem;
  height: 18rem;
  position: absolute;
  bottom: 20rem;
  right: 20rem;
  transform: rotate(15deg);
  background-color: var(--ballColor2);
  letter-spacing: 0.2rem;
}
.balls h2 {
  color: var(--fontColor1);
  font-weight: bold;
  font-size: 2.3rem;
}
.ball2 h2 {
  font-size: 2.9rem;
}
.ball1 {
  position: absolute;
  top: 15rem;
  left: 30rem;
}
.candid {
  position: absolute;
  bottom: 5rem;
  transition: ease-in-out;
}
#text {
  position: absolute;
  left: 8rem;
  bottom: 6rem;
  /* right: ; */
  color: #fff;
  white-space: nowrap;
  font-size: 7vw;
  font-weight: bold;
  /* letter-spacing: ; */
  z-index: 9;
  /* overflow: hidden; */
}

/********************************About Us*************************************/

.aboutAndSkills {
  background-color: var(--backGroundColor1);
  height: 110vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 3rem;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

.about {
  display: flex;
  height: 50%;
  padding: 3rem 0 2rem 0;
}

.aboutCursive {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
}
.aboutCursive h2 {
  transform: rotate(-8deg);
  color: var(--fontColor2);
  font-family: "Pacifico", cursive;

  opacity: 0.3;
}
.aboutInfo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8rem;
}

.aboutInfo h2 {
  color: var(--fontColor2);
  font-size: 2rem;
}
.aboutInfo :nth-child(2) {
  color: var(--fontColor1);
  margin: 2rem 0;
  font-size: 3rem;
}
.aboutInfo :nth-child(3) {
  color: var(--fontColor2);
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 1.5;
}
.skillOuter {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 50%;
  padding: 2rem 0 0 0;
}
.skills {
  display: flex;
  height: auto;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  padding: 2rem 2rem;
  font-size: 2.2rem;
  color: var(--fontColor2);
}
.tops a {
  text-decoration: none;
  color: var(--fontColor2);
  font-weight: bold;
  letter-spacing: 0.8px;
}

/* .tops a:hover
{
  color: var(--fontColor3) ;
} */
.tops {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  transition: transform ease-in-out 0.2s, color ease-in-out 0.2s;
}
.tops:hover {
  transform: translateY(-0.5rem);
  /* transition: transform ease-in-out 0.1s; */
}
/* .skills :nth-child(1):hover{
  color: pink;
}
.skills :nth-child(2):hover{
  color: orange;#00cdf2
} */
/* .skills li{
  /* transition: color 0.1s ease-in-out; */

.skills li:nth-child(1):hover {
  color: #e3803c;
}
.skills li:nth-child(2):hover {
  color: rgb(1 106 177);
}
.skills li:nth-child(3):hover {
  color: #ead41c;
}
.skills li:nth-child(4):hover {
  color: #00cdf2;
}
.skills li:nth-child(5):hover {
  color: black;
}
.skills li:nth-child(6):hover {
  color: #8d0ff1;
}
.skills li:nth-child(7):hover {
  color: #14a9b6;
}
.skill2 li:nth-child(1):hover {
  color: #00417b;
}
.skill2 li:nth-child(2):hover {
  color: #964c14;
}
.skill2 li:nth-child(3):hover {
  color: #005c83;
}
.skill2 li:nth-child(4):hover {
  color: #4d80ac;
}
.skill2 li:nth-child(5):hover {
  color: #7348af;
}

/*********************************Project *******************************/

.project {
  min-height: 100vh;
  padding: 9rem;
  /* width: 100%; */
  margin: auto;
  background-color: var(--backGroundColor2);
}
div[class*="Info"] h2 {
  color: var(--fontColor2);
  font-size: 2rem;
}
div[class*="Info"] :nth-child(2) {
  color: var(--fontColor1);
  margin: 2rem 0;
  font-size: 3rem;
}
.projectCursive {
  margin: auto;
  width: 100%;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  margin-top: -8rem;
}
.projectCursive h2 {
  transform: rotate(-8deg);
  color: var(--fontColor2);
  font-family: "Pacifico", cursive;
  font-weight: thin !important;
  opacity: 0.3;
}

/********************************About Us*************************************/

.projectCardContainer {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3,1fr);

}
.projectCard {
  color: white;
  background: url(../Images/disney-1024-1.webp);
  background-position: center;
  background-size: cover;
  /* padding: 1.5rem; */
  height: 30rem;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  border-radius: 0.8rem;
  overflow: hidden;
  transition: transform 250ms ease;
}
.projectCard:hover {
  transform: scale(1.02);
}
.projectCardContent {
  line-height: 1.6;
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0%/0),
    hsl(20 0% 0%/0.3) 20%,
    hsl(0 0% 0%/1)
  );
  transform: translateY(55%);
  transition: transform 500ms ease;
}

@media (hover) {
  .projectCardContent {
    transform: translateY(63%);
    transition: transform 500ms ease;
  }
  .projectCard:hover .projectCardContent {
    transform: translateY(0%);
  }
  .projectCardContent > *:not(.projectCardTitle) {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  .projectCard:hover .projectCardContent > * {
    opacity: 1;
  }
  .projectCard{

    justify-content: flex-end;
  }

}
.projectCard h2 {
  /* margin: 1rem 0; */
  font-size: 3rem;
}
.projectCardP1 {
  font-size: 1.5rem;
}

.projectButton {
  color: pink;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem 0;
  background-color: #00417b;
  border-radius: 0.2rem;
}


/* **************************Connect************************************************ */
.connect {
  background-color: var(--backGroundColor1);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 7rem;
  position: relative;
  display: flex;

  /* flex-direction: column; */
}
.connect1 {
  width: 50%;
}
.connect2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.letsconnect > h1 {
  font-size: 8vw;
  color: #fff;
  font-weight: bold !important;
  line-height: 11.5rem;
  /* margin-bottom: 0; */
}
.connector-info {
  width: 60%;
  font-size: 2rem;
  margin-top: 4rem;
  color: var(--fontColor2);
}
.connectCursive {
  width: 40%;
  font-size: 6rem;
  display: flex;
  align-items: center;
  /* margin-top: -4rem; */
}
.connectCursive h2 {
  transform: rotate(-8deg);
  color: var(--fontColor2);
  font-family: "Pacifico", cursive;
  margin-top: -4rem;
  opacity: 0.3;
}
.ball3 {
  transform: rotate(9deg);
  position: absolute;
  left: 33rem;
  bottom: 10rem;
}
.ball3 h2 {
  line-height: 3rem;
}
.ball4 {
  background-color: #613091;
  padding-left: 1rem;
  align-items: center;
}

.codingLinks {
  font-size: 2.5rem;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

.codingIcons {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
}
.codeIcons {
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.socialIcons
{
  /* display: grid;
  height: 100%; */
  width: 100%;

}
.wrapper{
  height: 3rem;
}
.wrapper .button{
  display: inline-block;
  height: 5rem;
  width: 5rem;
  float: left;
  margin-right: 3rem;
  overflow: hidden;
  background: #fff;
  border-radius: 8rem;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 20rem;
}
.wrapper .button .icon{
  display: inline-block;
  height: 5rem;
  width: 5rem;
  text-align: center;
  border-radius: 8rem;
  box-sizing: border-box;
  line-height: 3rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #0077b5;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 4.9rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 2rem;
  font-weight: 500;
  line-height: 4.9rem;
  margin-left: 1rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #0077b5;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.contactMe
{
  margin-top: 2rem;
  font-size: 3rem;
  color: #fff;
  font-family: sans-serif;
}
.contactHeading
{
  margin-top: 2rem;
}
.contactIcon
{
  display: flex;
  align-items: center;
  list-style: none;
  /* justify-content: space-around; */

}
.contactMeIcons{
  display: inline-block;
  margin-right: 3rem;
}
.phone{
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
}